section {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}

section h1 {
  text-align: center;
  text-transform: uppercase;
}

section > div {
  margin: 0 auto;
  padding: 0;
  width: 750px;
}

section div fieldset {
  margin: 0 auto;
  margin-bottom: 25px;
  padding: 0;
  width: 100%;
  text-align: center;
  border: none;
}

div.buttons {
  margin: 0;
  padding-top: 25px;
  width: 100%;
  text-align: center;
}

select {
  padding: 5px;
  margin-bottom: 25px;
}

.card {
  margin: 0 auto;
  padding: 0;
  width: 432px;
  height: 288px;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
}

.face {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3em;
}

h3 {
  margin-top: 0;
  font-size: 2em;
  font-style: italic;
}

.back {
  display: none;
}

img {
  margin-top: 20px;
  width: 50%;
}
