section {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 97;
    position: absolute;
  }

section > div {
    margin: 0 auto;
    padding: 1.8rem;
    z-index: 98;
    position: absolute;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    border-radius: 0.75rem;
}

h2, h3 {
    text-align: center;
}

div div {
    text-align: center;
}

.header {
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 1.8rem;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.row {
    margin-bottom: 1.2rem;
    padding-bottom: 0.625rem;
    border-bottom: 1px solid rgb(0, 0, 0);
}