section {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
section h1 {
    margin-top: 8.0rem;
    text-transform: uppercase;
    text-align: center;
    font-family: "Open Sans", serif;
    text-transform: capitalize;
    font-weight: normal;
    font-size: 175%;
}
  
form {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Roboto", sans-serif;
}
  
fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.0rem;
    margin: 0 auto;
}

fieldset h2 {
    text-align: center;
    margin: 0;
    margin-bottom: 1.5rem;
    padding: 0;
}

.tile-list {
    width: 100%;
    min-height: 1.5rem;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    padding-bottom: 1.5rem;
  }

.letter-box {
    padding: 0.3125rem;
    width: 1.5rem;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    border-right: solid 1px #ccc;
    cursor: move;
    background: rgba(6, 75, 202, 0.75);
}

.letter-tile {
    border-right: none;
}

.cdk-drag-preview {
    box-sizing: border-box;
}
  
.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.tile-list.cdk-drop-list-dragging .letter-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

img {
    width: 40%;
    height: 40%;
    margin: 0 auto;
}

#buttons {
    margin-top: 25px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
  
#buttons input {
    margin-right: 0.15rem;
    margin-left:  0.15rem;
    padding: 0.625rem;
    width: 100px;
    border: none;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 0.75em;
    font-family: "Roboto", sans-serif;
}
  
#answerBtn {
    margin-left: 30px;
    background: rgb(40, 167, 69);
}
  
#resetBtn {
    background: rgb(52, 58, 64);
}
  
#quitBtn {
    background: rgb(220, 53, 69);
}