<app-overlay *ngIf='showOverlay'></app-overlay>
<app-vocabulary-overlay-form (formChange)='getOverlayData($event)' *ngIf='showVocabularyOverlay'></app-vocabulary-overlay-form>
<app-report [reportInfo]="report" *ngIf='showReport'></app-report>
<section>
    <h1>vocabulary scramble</h1>

    <form *ngIf='showForm' ngClass="col-lg-4 col-md-6 col-xs-12">
        <fieldset class="col-lg-12 col-xs-12">
            <h2>{{translation}}</h2>
            <img src={{image}} />
            <div cdkDropList class="tile-list" cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)">
                <div ngClass="letter-box" *ngFor="let letter of scrambledWord" cdkDrag>
                    {{letter}}
                </div>
            </div>
        </fieldset>
        <div id="buttons">
            <input type="button" id="answerBtn" value="answer" (click)="getAnswer()" />
            <input type="button" id="resetBtn" value="reset" (click)="reset()" />
            <input type="button" id="quitBtn" value="quit" (click)="quit()" />
        </div>
    </form>
</section>