<section>
  <h1>verb flashcard</h1>

  <div class="col-lg-5 col-md-8 col-sm-10">
    <form class="col-lg-12 col-xs-12">
      <fieldset class="col-lg-10">
        <div><select id="verbSelect" class="col-xs-3 col-sm-6 col-lg-6" name="verbSelect" [(ngModel)]="verbSelect" (change)="changeVerb()"></select></div>
        <div><select id="tenseSelect" class="col-xs-3 col-sm-6 col-lg-6" name="tenseSelect" [(ngModel)]="tenseSelect" (change)="changeTense()"></select></div>
        <div class="card" [@flipState]="flip">
          <section class="face front col-lg-12">
            <h2>{{infinitive}}</h2>
            <h3>[ {{translation}} ]</h3>
          </section>
          <div class="face back col-lg-12">
            <h3>[ {{this.selectedTense}} ] tense</h3>
            <dl>
              <dt>yo</dt>
              <dd>{{this.conjugation.yo}}</dd>
            </dl>
            <dl>
              <dt>tu</dt>
              <dd>{{this.conjugation.tu}}</dd>
            </dl>
            <dl>
              <dt>el, ella, usted</dt>
              <dd>{{this.conjugation.el}}</dd>
            </dl>
            <dl>
              <dt>nosotros</dt>
              <dd>{{this.conjugation.nosotros}}</dd>
            </dl>
            <dl>
              <dt>ellos, ellas, ustedes</dt>
              <dd>{{this.conjugation.els}}</dd>
            </dl>
          </div>
        </div>
      </fieldset>

      <div class="buttons">
        <input id="btnReset" class="button reset" type="reset" value="reset">
        <input id="btnFlip" class="button flip" type="button" value="flip card" (click)="flipCard()">
      </div>
    </form>
  </div>
</section>