#report {
    margin-top: 200px;
    padding: 1.8rem;
    z-index: 98;
    position: absolute;
    left: 25%;
    background: rgb(255, 255, 255);
    border-radius: 0.75rem;
    overflow-y: auto;
    height: 600px;
}

@media only screen and (max-width: 1024px) {
    #report {
        border-radius: 0;
    }
}

@media only screen and (max-width: 480px) {
    #report {
        left: 0;
        border-radius: 0;
    }
}

h2, h3, h4 {
    text-align: center;
}

div div {
    text-align: center;
}

.header {
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 1.8rem;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.row {
    margin-bottom: 1.2rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    border-bottom: 1px solid rgb(0, 0, 0);
    width: 100%;
    display: flex;
    flex-direction: column;
}

.row div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.row div div {
    width: 50%;
}

.row div div:nth-of-type(1) {
    font-weight: bold;
}

.row div:last-child {
    padding: 0;
}

.fields {
    width: 100%;
}

.fields h6 {
    display: inline-block;
    width: 33%;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0.625rem;
}
 
.buttons {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
  
.buttons input {
    margin-right: 0.15rem;
    margin-left:  0.15rem;
    padding: 0.625rem;
    border: none;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 0.75em;
    font-family: "Roboto", sans-serif;
    border-radius: 5px;
    font-size: 100%;
}
  
#replayBtn {
    background: rgb(52, 58, 64);
}
  
#quitBtn {
    background: rgb(220, 53, 69);
}