<app-overlay *ngIf='showOverlay'></app-overlay>
<app-vocabulary-overlay-form (formChange)='getOverlayData($event)' *ngIf='showVocabularyOverlay'></app-vocabulary-overlay-form>
<app-slider-report [reportInfo]="report" *ngIf='showReport'></app-slider-report>
<section>
    <h1>vocabulary slider</h1>
    <form *ngIf='showForm'>
        <fieldset class="col-xs-12 col-sm-10 col-lg-6">
            <div class="static-container col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="static-tile" *ngFor="let translationCard of translationCards">
                    {{translationCard.translation}}
                </div>
            </div>

            <div class="slide-list col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div cdkDropList class="word-list" (cdkDropListDropped)="drop($event)">
                    <div class="slide-box" *ngFor="let wordSlide of wordSlides" cdkDrag>
                        {{wordSlide}}
                    </div>
                </div>
            </div>
        </fieldset>
        <div id="buttons" class="col-lg-12 col-xs-12">
            <input type="button" id="answerBtn" value="answer" (click)="getAnswer()" />
            <input type="button" id="resetBtn" value="reset" (click)="reset()" />
            <input type="button" id="quitBtn" value="quit" (click)="quit()" />
        </div>
    </form>
</section>
