<section>
  <h1>Verb Input</h1>
  <form (ngSubmit)="onSubmit()" class="col-lg-4 col-md-6 col-xs-12">
    <fieldset class="col-lg-10">
      <dl>
        <dt>infinitive:</dt>
        <dd>
          <input type="text" name="infinitive" class="col-lg-12"
                [(ngModel)]="infinitive"
                required
          />
        </dd>
      </dl>
      <dl>
        <dt>translation:</dt>
        <dd>
          <input type="text" id="translation" name="translation" class="col-lg-12"
                [(ngModel)]="translation"
                required
          />
        </dd>
      </dl>

      <section *ngIf="currentTense === 'present'">
        <h4>present tense</h4>
        <dl>
          <dt>yo:</dt>
          <dd>
            <input type="text" name="presentYo" id="presentYo" class="col-lg-12"
                  [(ngModel)]="presentYo"
                  required />
          </dd>
        </dl>
        <dl>
          <dt>tu:</dt>
          <dd>
            <input type="text" name="presentTu" id="presentTu" class="col-lg-12"
                  [(ngModel)]="presentTu"
                  required />
          </dd>
        </dl>
        <dl>
          <dt>el/Ella/Usted:</dt>
          <dd>
            <input type="text" name="presentEl" id="presentEl" class="col-lg-12"
                  [(ngModel)]="presentEl"
                  required />
          </dd>
        </dl>
        <dl>
          <dt>nosotros:</dt>
          <dd>
            <input type="text" name="presentNosotros" id="presentNosotros" class="col-lg-12"
                  [(ngModel)]="presentNosotros"
                  required />
          </dd>
        </dl>
        <dl>
          <dt>ellos/Ellas/Ustedes:</dt>
          <dd><input type="text" name="presentEls" id="presentEls" class="col-lg-12"
                    [(ngModel)]="presentEls"
                    required />
          </dd>
        </dl>
      </section>

      <section *ngIf="currentTense === 'preterite'">
        <h4>preterite tense</h4>
        <dl>
          <dt>yo:</dt>
          <dd>
            <input type="text" name="preteriteYo" id="preteriteYo"  class="col-lg-12"
                  required
                  [(ngModel)]="preteriteYo"
            >
          </dd>
        </dl>
        <dl>
          <dt>tu:</dt>
          <dd>
            <input type="text" name="preteriteTu" id="preteriteTu" class="col-lg-12"
                  required
                  [(ngModel)]="preteriteTu"
            >
          </dd>
        </dl>
        <dl>
          <dt>el/Ella/Usted:</dt>
          <dd>
            <input type="text" name="preteriteEl" id="preteriteEl" class="col-lg-12"
                  required
                  [(ngModel)]="preteriteEl"
            >
          </dd>
        </dl>
        <dl>
          <dt>nosotros:</dt>
          <dd>
            <input type="text" name="preteriteNosotros" id="preteriteNosotros" class="col-lg-12"
                  required
                  [(ngModel)]="preteriteNosotros"
            >
          </dd>
        </dl>
        <dl>
          <dt>ellos/Ellas/Ustedes:</dt>
          <dd><input type="text" name="preteriteEls" id="preteriteEls" class="col-lg-12"
                    required
                    [(ngModel)]="preteriteEls"
          >
          </dd>
        </dl>
      </section>

      <section *ngIf="currentTense === 'imperfect'">
        <h4>imperfect tense</h4>
        <dl>
          <dt>yo:</dt>
          <dd>
            <input type="text" name="imperfectYo" id="imperfectYo" class="col-lg-12"
                  required
                  [(ngModel)]="imperfectYo"
            >
          </dd>
        </dl>
        <dl>
          <dt>tu:</dt>
          <dd>
            <input type="text" name="imperfectTu" id="imperfectTu" class="col-lg-12"
                  required
                  [(ngModel)]="imperfectTu"
            >
          </dd>
        </dl>
        <dl>
          <dt>el/Ella/Usted:</dt>
          <dd>
            <input type="text" name="imperfectEl" id="imperfectEl" class="col-lg-12"
                  required
                  [(ngModel)]="imperfectEl"
            >
          </dd>
        </dl>
        <dl>
          <dt>nosotros:</dt>
          <dd>
            <input type="text" name="imperfectNosotros" id="imperfectNosotros" class="col-lg-12"
                  required
                  [(ngModel)]="imperfectNosotros"
            >
          </dd>
        </dl>
        <dl>
          <dt>ellos/Ellas/Ustedes:</dt>
          <dd><input type="text" name="imperfectEls" id="imperfectEls" class="col-lg-12"
                    required
                    [(ngModel)]="imperfectEls"
          >
          </dd>
        </dl>
      </section>

      <section *ngIf="currentTense === 'future'">
        <h4>future tense</h4>
        <dl>
          <dt>yo:</dt>
          <dd>
            <input type="text" name="futureYo" id="futureYo" class="col-lg-12"
                  required
                  [(ngModel)]="futureYo"
            >
          </dd>
        </dl>
        <dl>
          <dt>tu:</dt>
          <dd>
            <input type="text" name="futureTu" id="futureTu" class="col-lg-12"
                  required
                  [(ngModel)]="futureTu"
            >
          </dd>
        </dl>
        <dl>
          <dt>el/Ella/Usted:</dt>
          <dd>
            <input type="text" name="futureEl" id="futureEl" class="col-lg-12"
                  required
                  [(ngModel)]="futureEl"
            >
          </dd>
        </dl>
        <dl>
          <dt>nosotros:</dt>
          <dd>
            <input type="text" name="futureNosotros" id="futureNosotros" class="col-lg-12"
                  required
                  [(ngModel)]="futureNosotros"
            >
          </dd>
        </dl>
        <dl>
          <dt>ellos/Ellas/Ustedes:</dt>
          <dd><input type="text" name="futureEls" id="futureEls" class="col-lg-12"
                    required
                    [(ngModel)]="futureEls"
          >
          </dd>
        </dl>
      </section>
    </fieldset>
    <app-spanish-accents></app-spanish-accents>
    <div>
      <span *ngIf="currentTense !== 'future'">
        <input type="button" id="nextBtn" (click)="next()" value="next" />
      </span>
      <span *ngIf="currentTense === 'future'">
        <input type="submit" id="submitBtn" value="ADD VERB" />
      </span>
    </div>
    <div><input type="button" id="accentBtn" value={{buttonText}} (click)="toggleAccents()" /></div>
  </form>
</section>
