<section>
  <form class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
    <fieldset class="col-lg-12">
      <dl>
        <dt class="col-xs-12 col-lg-5">What category do you want to test?</dt>
        <dd class="col-xs-12 col-lg-7">
          <select id="category"name="category" [(ngModel)]="category"></select>
        </dd>
      </dl>
      <dl>
        <dt class="col-xs-12 col-lg-5">How many questions would you like?</dt>
        <dd class="col-xs-12 col-lg-7">
          <label for="words5" class="container">5
            <input type="radio" id="words5" name="numberQuestions" [(ngModel)]="numberQuestions" value="5" />
            <span class="radioCategory"></span>
          </label>

          <label for="words10" class="container">10
            <input type="radio" id="words10" name="numberQuestions" [(ngModel)]="numberQuestions" value="10" />
            <span class="radioCategory"></span>
          </label>

          <label for="words15" class="container">15
            <input type="radio" id="words15" name="numberQuestions" [(ngModel)]="numberQuestions" value="15" />
            <span class="radioCategory"></span>
          </label>

          <label for="words20" class="container">20
            <input type="radio" id="words20" name="numberQuestions" [(ngModel)]="numberQuestions" value="20" />
            <span class="radioCategory"></span>
          </label>
        </dd>
      </dl>
      <div id="buttons">
        <input type="button" id="submitBtn" name="submitBtn" value="go" (click)="onClick()" />
      </div>
    </fieldset>
  </form>
</section>
