<section>
  <form>
    <fieldset>
      <dl>
        <dt>What category do you want to test?</dt>
        <dd>
          <select id="category" name="category" [(ngModel)]="category"></select>
        </dd>
      </dl>
      <dl>
        <dt>How many questions would you like?</dt>
        <dd>
          <input type="radio" id="words5" name="numberQuestions" [(ngModel)]="numberQuestions" value="5" />
          <label for="words5">5</label>

          <input type="radio" id="words10" name="numberQuestions" [(ngModel)]="numberQuestions" value="10" />
          <label for="words10">10</label>

          <input type="radio" id="words15" name="numberQuestions" [(ngModel)]="numberQuestions" value="15" />
          <label for="words15">15</label>

          <input type="radio" id="words20" name="numberQuestions" [(ngModel)]="numberQuestions" value="20" />
          <label for="words20">20</label>
        </dd>
      </dl>
      <div id="buttons">
        <input type="button" id="submitBtn" name="submitBtn" value="go" (click)="onClick()" />
      </div>
    </fieldset>
  </form>
</section>
