<section>
  <section class="veneer">
    <h1>¡Es tiempo de fiesta!</h1>
    <h2>[It's party time!]</h2>
    <div class="tagline">Let's learn spanish!</div>
    <!-- <h1>Welcome to <span class="logo-my">My</span><span class="logo-st">SpanishTutor</span></h1> -->
    <!-- <div class="row">
      <app-card
        class="col-xs-12 col-md-6 col-lg-3"
        [cardHeader]=pronunciationCard.header 
        [cardSummary]=pronunciationCard.summary>
      </app-card>
      <app-card 
        class="col-xs-12 col-md-6 col-lg-3"
        [cardHeader]=verbFlashcardCard.header 
        [cardSummary]=verbFlashcardCard.summary>
      </app-card>
      <app-card 
        class="col-xs-12 col-md-6 col-lg-3"
        [cardHeader]=vocabularyFlashcardCard.header 
        [cardSummary]=vocabularyFlashcardCard.summary>
      </app-card>
      <app-card 
        class="col-xs-12 col-md-6 col-lg-3"
        [cardHeader]=verbConjugatorCard.header 
        [cardSummary]=verbConjugatorCard.summary>
      </app-card>
    </div>
    <div class="row">
      <app-card 
        class="col-xs-12 col-md-6 col-lg-3"
        [cardHeader]=vocabularyCompletionCard.header 
        [cardSummary]=vocabularyCompletionCard.summary>
      </app-card>
      <app-card 
      class="col-xs-12 col-md-6 col-lg-3"
        [cardHeader]=vocabularyQuizCard.header 
        [cardSummary]=vocabularyQuizCard.summary>
      </app-card>
      <app-card 
      class="col-xs-12 col-md-6 col-lg-3"
        [cardHeader]=vocabularyScrambleCard.header 
        [cardSummary]=vocabularyScrambleCard.summary>
      </app-card>
      <app-card 
      class="col-xs-12 col-md-6 col-lg-3"
        [cardHeader]=vocabularySliderCard.header 
        [cardSummary]=vocabularySliderCard.summary>
      </app-card>
    </div> -->
  </section>
</section>