<div class="bg-image">
    <section class="home-overlay">
    </section>
</div>
<section class="content">
    <h2>verbs</h2>
    <div class="row">
        <section class="card col-xs-12 col-sm-3">
            <h4>flashcard</h4>
            <p>Before delving into the verb games &mdash; the conjugator and slider &mdash; study the conjugations of approximately 100 of the most used spanish verbs.</p>
        </section>
        <section class="card col-xs-12 col-sm-3 offset-sm-1">
            <h4>conjugator</h4>
            <p>You've studied the verb flashcards and want to test what you've learned. Then try the conjugator. Your knowledge of the present, preterite, imperfect, conditional, and future tenses will be tested.</p>
        </section>
        <section class="card col-xs-12 col-sm-3 offset-sm-1">
            <h4>slider</h4>
            <p>Tried the conjugator and find it too hard actually remember and type the conjugated words? Then try the slider. The conjugations and their translations are already on the page. You only have to slide around the english translations to match with the spanish conjugations.</p>
        </section>
    </div>
</section>
<section class="content">
    <h2>vocabulary</h2>
    <div class="row">
        <section class="card col-xs-12 col-sm-3">
            <h4>flashcard</h4>
            <p>Before trying your hand at the vocabulary games &mdash; word completion, word fill-in, word quiz, word scramble, and slider &mdash; study the conjugations of approximately 100 of the most commonly used spanish verbs.</p>
        </section>
        <section class="card col-xs-12 col-sm-3 offset-sm-1">
            <h4>completion</h4>
        </section>
        <section class="card col-xs-12 col-sm-3 offset-sm-1">
            <h4>fill-in</h4>
        </section>
    </div>
    <div class="row">
        <section class="card col-xs-12 col-sm-3">
            <h4>quiz</h4>
        </section>
        <section class="card col-xs-12 col-sm-3 offset-sm-1">
            <h4>scramble</h4>
        </section>
        <section class="card col-xs-12 col-sm-3 offset-sm-1">
            <h4>slider</h4>
        </section>
    </div>
</section>
<footer></footer>
