section {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-image: url('assets/images/latin-america-people-1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: rgb(0 0 0 / 0.3);
}

.veneer {
  margin: 0;
  padding: 0;
  width: 50%;
  height: 100%;
}

.opaque {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  background: rgb(255 255 0 / 0.9);
  color: rgb(255 0 0);
  position: absolute;
  z-index: inherit;
}

.opaque .heading {
  margin-top: 0;
  padding: 0;
  text-align: center;
  font-size: 400%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  text-transform: capitalize;
}

.opaque .subheading {
  text-align: center;
  font-size: 300%;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  font-weight: 900;
}

.opaque .top-spacing {
  margin-top: 10rem;
}

.lowercase {
  text-transform: lowercase;
}