section {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
section h1 {
    text-transform: uppercase;
}
  
form {
    margin-top: 5rem;
    width: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
fieldset {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    border: none;
    display: flex;
    justify-content: center;
    border: 1px solid rgb( 190, 190, 190 );
}

fieldset h2 {
    text-align: center;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

fieldset div {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

ul {
    margin: 0;
    padding: 0;
    width: 50rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    list-style-type: none;
}

.card, .slide {
    margin: 5px;
    list-style: none;
    text-align: center;
}

.card {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 150px;
    border: 1px solid rgb(190, 190, 190);
}

.card h3 {
    margin-top: 5px;
    margin-bottom: -10px;
    text-transform: uppercase;
}

.card img {
    width: 45%; 
    height: 45%;
}

.slide {
    width: 150px;
    background: rgb(52, 152, 219);
    color: rgb(255, 255, 255);
    padding-top: 10px;
    padding-bottom: 10px;
}

#buttons {
    margin-top: 25px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
  
#buttons input {
    margin-right: 10px;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 0.75em;
    font-weight: bold;
    width: 100px;
    text-transform: uppercase;
}
  
#answerBtn {
    margin-left: 30px;
    background: rgb(40, 167, 69);
}
  
#resetBtn {
    background: rgb(0, 0, 0);
}
  
#quitBtn {
    background: rgb(255, 0, 0);
}

input[type='text'] {
    text-transform: uppercase;
    text-align: center;
    width: 10px;
    height: 10px;
    padding: 5px;
}