<app-overlay *ngIf='showOverlay'></app-overlay>
<app-vocabulary-overlay-form (formChange)='getOverlayData($event)' *ngIf='showVocabularyOverlay'></app-vocabulary-overlay-form>
<section>
    <h1>vocabulary slider</h1>
    <form *ngIf='showForm'>
        <fieldset>
            <ul>
                <li ngClass="card" *ngFor="let translationCard of this.translationCards">
                    <h3>{{translationCard.translation}}</h3>
                    <div><img src={{translationCard.image}} /></div>
                </li>
            </ul>

            <ul>
                <li ngClass="slide" *ngFor="let word of this.wordSlides">
                    {{word}}
                </li>
            </ul>
        </fieldset>
        <div id="buttons">
            <input type="button" id="answerBtn" value="answer" (click)="getAnswer()" />
            <input type="button" id="resetBtn" value="reset" (click)="reset()" />
            <input type="button" id="quitBtn" value="quit" (click)="quit()" />
        </div>
    </form>
</section>
