<app-overlay *ngIf='showOverlay'></app-overlay>
<app-conjugator-overlay-form (formChange)='getOverlayData($event)' *ngIf='showConjugatorOverlay'></app-conjugator-overlay-form>
<app-conjugator-report [reportInfo]="report" *ngIf='showReport'></app-conjugator-report>
<section>
  <h1>verb conjugator</h1>
  <form *ngIf='showForm' class="col-lg-5 col-md-8 col-sm-10">
    <fieldset class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
      <h2>{{infinitive}}</h2>
      <h3>{{translation}}</h3>
      <h4>{{tense}} tense</h4>
      <dl>
        <dt>Yo</dt>
        <dd><input type="text" id="yo" (focus)="selectedTextbox = 'yo'" class="col-lg-12" name="yo" [(ngModel)]="inputAnswers.yo" /></dd>
      </dl>
      <dl>
        <dt>Tu</dt>
        <dd><input type="text" id="tu" (focus)="selectedTextbox = 'tu'" class="col-lg-12" name="tu" [(ngModel)]="inputAnswers.tu" /></dd>
      </dl>
      <dl>
        <dt>El/Ella/Usted</dt>
        <dd><input type="text" id="el" (focus)="selectedTextbox = 'el'" class="col-lg-12" name="el" [(ngModel)]="inputAnswers.el" /></dd>
      </dl>
      <dl>
        <dt>Nosotros/Nosotras</dt>
        <dd><input type="text" id="nosotros" (focus)="selectedTextbox = 'nosotros'" class="col-lg-12" name="nosotros" [(ngModel)]="inputAnswers.nosotros" /></dd>
      </dl>
      <dl>
        <dt>Ellos/Ellas/Ustedes</dt>
        <dd><input type="text" id="els" (focus)="selectedTextbox = 'els'" class="col-lg-12" name="els" [(ngModel)]="inputAnswers.els" /></dd>
      </dl>
    </fieldset>
    <app-spanish-accents (accentMessage)="placeAccent($event)"></app-spanish-accents>
    <div class="buttons">
      <input type="button" class="button answer" id="answerBtn" name="answerBtn" value="answer" (click)="getAnswers()" />
      <input type="button" class="button reset" id="resetBtn" name="resetBtn" value="reset" (click)="reset()" />
      <input type="button" id="quitBtn" value="quit" (click)="quit()" />
    </div>
  </form>
</section>