<app-overlay *ngIf='showOverlay'></app-overlay>
<app-long-overlay *ngIf='showLongOverlay'></app-long-overlay>
<app-conjugator-overlay-form (formChange)='getOverlayData($event)' *ngIf='showConjugatorOverlay'></app-conjugator-overlay-form>
<app-conjugator-report [reportInfo]="report" *ngIf='showReport'></app-conjugator-report>
<section>
  <h1>verb conjugator</h1>
  <form *ngIf='showForm' class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
    <fieldset class="col-xs-12">
      <h2>{{infinitive}}</h2>
      <h3>{{translation}}</h3>
      <h4>{{tense}} tense</h4>
      <dl>
        <dt>Yo</dt>
        <dd><input type="text" id="yo" (focus)="getSelectedTextbox('yo')" class="col-lg-12" name="yo" [(ngModel)]="inputAnswers.yo" /></dd>
      </dl>
      <dl>
        <dt>Tu</dt>
        <dd><input type="text" id="tu" (focus)="getSelectedTextbox('tu')" class="col-lg-12" name="tu" [(ngModel)]="inputAnswers.tu" /></dd>
      </dl>
      <dl>
        <dt>El/Ella/Usted</dt>
        <dd><input type="text" id="el" (focus)="getSelectedTextbox('el')" class="col-lg-12" name="el" [(ngModel)]="inputAnswers.el" /></dd>
      </dl>
      <dl>
        <dt>Nosotros</dt>
        <dd><input type="text" id="nosotros" (focus)="getSelectedTextbox('nosotros')" class="col-lg-12" name="nosotros" [(ngModel)]="inputAnswers.nosotros" /></dd>
      </dl>
      <dl>
        <dt>Vosotros</dt>
        <dd><input type="text" id="vosotros" (focus)="getSelectedTextbox('vosotros')" class="col-lg-12" name="vosotros" [(ngModel)]="inputAnswers.vosotros" /></dd>
      </dl>
      <dl>
        <dt>Ellos/Ellas/Ustedes</dt>
        <dd><input type="text" id="ellos" (focus)="getSelectedTextbox('ellos')" class="col-lg-12" name="ellos" [(ngModel)]="inputAnswers.ellos" /></dd>
      </dl>
    </fieldset>
    <app-spanish-accents (accentMessage)="placeAccent($event)"></app-spanish-accents>
    <div class="buttons">
      <input type="button" class="button answer" id="answerBtn" name="answerBtn" value="answer" (click)="getAnswers()" />
      <input type="button" class="button reset" id="resetBtn" name="resetBtn" value="reset" (click)="reset()" />
      <input type="button" id="quitBtn" value="quit" (click)="quit()" />
    </div>
  </form>
</section>
