<section>
  <h1>vocabulary flashcard</h1>

  <div>
    <form>
      <fieldset>
        <select id="category" name="category" [(ngModel)]="category" (change)="changeCategory()"></select>
        <div class="card" [@flipState]="flip">
          <div class="face front">
            <h2>[ {{word}} ]</h2>
            <h3>{{pronunciation}}</h3>
          </div>
          <div class="face back">
            <h2>{{translation}}</h2>
            <img src={{image}} />
          </div>
        </div>
      </fieldset>
      <div class="buttons">
        <input id="btnReset" class="button reset" type="reset" value="reset">
        <input id="btnFlip" class="button flip" type="button" value="flip card" (click)="flipCard()">
        <input id="btnNext" class="button next" type="button" value="next" (click)="next()">
      </div>
    </form>
  </div>
</section>
