<form>
  <fieldset>
    <ul>
      <li><input type="button" id="accentABtn" name="accentABtn" value="á" (click)="placeAccent()" /></li>
      <li><input type="button" id="accentEBtn" name="accentEBtn" value="é" (click)="placeAccent()" /></li>
      <li><input type="button" id="accentIBtn" name="accentIBtn" value="í" (click)="placeAccent()" /></li>
      <li><input type="button" id="accentOBtn" name="accentOBtn" value="ó" (click)="placeAccent()" /></li>
      <li><input type="button" id="accentU1Btn" name="accentU1Btn" value="ú" (click)="placeAccent()" /></li>
      <li><input type="button" id="accentNBtn" name="accentNBtn" value="ñ" (click)="placeAccent()" /></li>
      <li><input type="button" id="accentU2Btn" name="accentU2Btn" value="ü" (click)="placeAccent()" /></li>
    </ul>
  </fieldset>
</form>
