<app-overlay *ngIf='showOverlay'></app-overlay>
<app-vocabulary-overlay-form (formChange)='getOverlayData($event)' *ngIf='showVocabularyOverlay'></app-vocabulary-overlay-form>
<section>
    <h1>vocabulary completion</h1>

    <form [ngFormOptions]="{ updateOn: 'change' }" *ngIf='showForm'>
        <fieldset>
            <h2>{{translation}}</h2>
            <div><img src={{image}} /></div>
            <ul>
                <li *ngFor="let letter of this.incompleteWord; index as i, trackBy: trackByFn">
                    <input type='text' id="userAnswer{{i}}" name="userAnswer{{i}}" [(ngModel)]="this.incompleteWord[i]" maxlength="1" [disabled]="letter !== ''" />
                </li>
            </ul>
        </fieldset>
        <div id="buttons">
            <input type="button" id="answerBtn" value="answer" (click)="getAnswer()" />
            <input type="button" id="resetBtn" value="reset" (click)="reset()" />
            <input type="button" id="quitBtn" value="quit" (click)="quit()" />
        </div>
    </form>
</section>
