<app-overlay *ngIf='showOverlay'></app-overlay>
<app-conjugator-overlay-form (formChange)='getOverlayData($event)' *ngIf='showConjugatorOverlay'></app-conjugator-overlay-form>
<section>
  <h1>verb conjugator</h1>
  <form *ngIf='showForm'>
    <fieldset>
      <h2>{{infinitive}}</h2>
      <h3>{{translation}}</h3>
      <h4>{{tense}} tense</h4>
      <dl>
        <dt>Yo</dt>
        <dd><input type="text" id="yo" name="yo" [(ngModel)]="inputAnswers.yo" /></dd>
      </dl>
      <dl>
        <dt>Tu</dt>
        <dd><input type="text" id="tu" name="tu" [(ngModel)]="inputAnswers.tu" /></dd>
      </dl>
      <dl>
        <dt>El/Ella/Usted</dt>
        <dd><input type="text" id="el" name="el" [(ngModel)]="inputAnswers.el" /></dd>
      </dl>
      <dl>
        <dt>Nosotros/Nosotras</dt>
        <dd><input type="text" id="nosotros" name="nosotros" [(ngModel)]="inputAnswers.nosotros" /></dd>
      </dl>
      <dl>
        <dt>Ellos/Ellas/Ustedes</dt>
        <dd><input type="text" id="ellos" name="els" [(ngModel)]="inputAnswers.els" /></dd>
      </dl>
    </fieldset>
    <div class="buttons">
      <input type="button" class="button answer" id="answerBtn" name="answerBtn" value="answer" (click)="getAnswers()" />
      <input type="button" class="button reset" id="resetBtn" name="resetBtn" value="reset" />
    </div>
    <div class="buttons"><input type="button" id="accentBtn" value={{buttonText}} (click)="toggleAccents()" /></div>
  </form>
</section>
<app-spanish-accent-codes [animationState]="animationState"></app-spanish-accent-codes>
