<section>
  <form class="col-lg-4">
    <fieldset class="col-lg-12">
      <dl>
        <dt class="col-lg-6">What verb tense do you want to conjugate?</dt>
        <dd class="col-lg-6">
          <select id="tenseSelect" class="col-xs-12" name="tenseSelect" [(ngModel)]="tenseSelect"></select>
        </dd>
      </dl>
      <dl>
        <dt>Do you want you want to conjugate random verb(s) or one specific verb?</dt>
        <dd class="col-lg-6">
          <label for="random" class="container-v">random
            <input type="radio" id="random" name="conjugationType" [(ngModel)]="conjugationType" value="random" (ngModelChange)="onChange()" />
            <span class="radioCategory"></span>
          </label>

          <label for="single" class="container-v">single
            <input type="radio" id="single" name="conjugationType" [(ngModel)]="conjugationType" value="single" (ngModelChange)="onChange()" />
            <span class="radioCategory"></span>
          </label>
        </dd>
      </dl>
      <dl *ngIf="showRandom">
        <dt class="col-lg-6">How many verbs do you want to conjugate?</dt>
        <dd class="col-lg-6">
          <label for="verbs1" class="container">1
            <input type="radio" id="verbs1" name="numberVerbs" [(ngModel)]="numberVerbs" value="1" />
            <span class="radioCategory"></span>
          </label>

          <label for="verbs5" class="container">5
            <input type="radio" id="verbs5" name="numberVerbs" [(ngModel)]="numberVerbs" value="5" />
            <span class="radioCategory"></span>
          </label>

          <label for="verbs10" class="container">10
            <input type="radio" id="verbs10" name="numberVerbs" [(ngModel)]="numberVerbs" value="10" />
            <span class="radioCategory"></span>
          </label>

          <label for="verbs15" class="container">15
            <input type="radio" id="verbs15" name="numberVerbs" [(ngModel)]="numberVerbs" value="15" />
            <span class="radioCategory"></span>
          </label>

          <label for="verbs20" class="container">20
            <input type="radio" id="verbs20" name="numberVerbs" [(ngModel)]="numberVerbs" value="20" />
            <span class="radioCategory"></span>
          </label>
      </dl>
      <dl *ngIf="showSingle">
        <dt class="col-lg-6">What verb do you want to conjugate?</dt>
        <dd class="col-lg-6">
          <select id="verbSelect" class="col-xs-12" name="verbSelect" [(ngModel)]="verbSelect"></select>
        </dd>
      </dl>
      <div id="buttons">
        <input type="button" id="submitBtn" name="submitBtn" value="continue" (click)="onClick()" />
      </div>
    </fieldset>
  </form>
</section>
