<section>
  <h1>letter pronunciation</h1>

  <div id="container">
    <div class="row">
      <dl>
        <dt>a</dt>
        <dd>ah</dd>
      </dl>
      <dl>
        <dt>n</dt>
        <dd>en-eh</dd>
      </dl>
    </div>
    <div class="row">
        <dl>
          <dt>b</dt>
          <dd>beh</dd>
        </dl>
        <dl>
          <dt>ñ</dt>
          <dd>en-yeh</dd>
        </dl>
      </div>
      <div class="row">
        <dl>
          <dt>c</dt>
          <dd>seh</dd>
        </dl>
        <dl>
          <dt>o</dt>
          <dd>oh</dd>
        </dl>
      </div>
      <div class="row">
        <dl>
          <dt>ch</dt>
          <dd>cheh</dd>
        </dl>
        <dl>
          <dt>p</dt>
          <dd>peh</dd>
        </dl>
      </div>
      <div class="row">
        <dl>
          <dt>d</dt>
          <dd>deh</dd>
        </dl>
        <dl>
          <dt>q</dt>
          <dd>coo</dd>
        </dl>
      </div>
      <div class="row">
        <dl>
          <dt>e</dt>
          <dd>eh</dd>
        </dl>
        <dl>
          <dt>r</dt>
          <dd>er-eh</dd>
        </dl>
      </div>
      <div class="row">
        <dl>
          <dt>f</dt>
          <dd>ef-eh</dd>
        </dl>
        <dl>
          <dt>rr</dt>
          <dd>air-eh</dd>
        </dl>
      </div>
      <div class="row">
        <dl>
          <dt>g</dt>
          <dd>heh</dd>
        </dl>
        <dl>
          <dt>s</dt>
          <dd>es-eh</dd>
        </dl>
      </div>
      <div class="row">
        <dl>
          <dt>h</dt>
          <dd>ah-cheh</dd>
        </dl>
        <dl>
          <dt>t</dt>
          <dd>teh</dd>
        </dl>
      </div>
      <div class="row">
        <dl>
          <dt>i</dt>
          <dd>ee</dd>
        </dl>
        <dl>
          <dt>u</dt>
          <dd>oo</dd>
        </dl>
      </div>
      <div class="row">
        <dl>
          <dt>j</dt>
          <dd>ho-tah</dd>
        </dl>
        <dl>
          <dt>v</dt>
          <dd>veh</dd>
        </dl>
      </div>
      <div class="row">
        <dl>
          <dt>k</dt>
          <dd>kah</dd>
        </dl>
        <dl>
          <dt>w</dt>
          <dd>doh-vleh-veh</dd>
        </dl>
      </div>
      <div class="row">
        <dl>
          <dt>l</dt>
          <dd>el-eh</dd>
        </dl>
        <dl>
          <dt>x</dt>
          <dd>eh-keys</dd>
        </dl>
      </div>
      <div class="row">
        <dl>
          <dt>ll</dt>
          <dd>eh-yeh</dd>
        </dl>
        <dl>
          <dt>y</dt>
          <dd>jeh</dd>
        </dl>
      </div>
      <div class="row">
        <dl>
          <dt>m</dt>
          <dd>em-eh</dd>
        </dl>
        <dl>
          <dt>z</dt>
          <dd>seh-tah</dd>
        </dl>
      </div>
    </div>
  </section>

