<section>
  <h1>verb flashcard</h1>

  <div>
    <form>
      <fieldset>
        <div><select id="infinitive" name="infinitive" [(ngModel)]="infinitive" (change)="changeVerb()"></select></div>
        <div><select id="tense" name="tense" [(ngModel)]="tense" (change)="changeTense()"></select></div>
        <div class="card">
          <div class="face front">
            <section><h2>{{infinitive}}</h2></section>
            <section><h3>{{translation}}</h3></section>
          </div>
          <div class="face back">
            <dl>
              <dt>yo</dt>
              <dd>{{this.conjugation.yo}}</dd>
            </dl>
            <dl>
              <dt>tu</dt>
              <dd>{{this.conjugation.tu}}</dd>
            </dl>
            <dl>
              <dt>el, ella, usted</dt>
              <dd>{{this.conjugation.el}}</dd>
            </dl>
            <dl>
              <dt>nosotros</dt>
              <dd>{{this.conjugation.nosotros}}</dd>
            </dl>
            <dl>
              <dt>ellos, ellas, ustedes</dt>
              <dd>{{this.conjugation.els}}</dd>
            </dl>
          </div>
        </div>
      </fieldset>

      <div class="buttons">
        <input id="btnReset" type="reset" value="reset">
        <input id="btnFlip" type="button" value="flip card">
      </div>
    </form>
  </div>
</section>
