<nav>
  <ul id="menu">
    <li>
      <a (click)="toggleShowMenu()">
        <div></div>
        <div></div>
        <div></div>
      </a>
      <span class="closeIcon" *ngIf="showCloseIcon" (click)="toggleShowMenu()"></span>
      <ul id="subMenu" [@slideInOut]="animationState">
        <!-- <li><a routerLink="/letter-pronunciation" routerLinkActive="active">letter pronunciation</a></li> -->
        <li>
          <span class="heading">verbs</span>
          <ul>
            <li><a routerLink="/verb-input" routerLinkActive="active">input</a></li>
            <li><a routerLink="/verb-flashcard" routerLinkActive="active">flashcard</a></li>
            <li><a routerLink="/verb-conjugator" routerLinkActive="active">conjugator</a></li>
            <li><a routerLink="/verb-slider" routerLinkActive="active">slider</a></li>
          </ul>
        </li>
        <li>
          <span class="heading">vocabulary</span>
          <ul>
            <li><a routerLink="/vocabulary-input" routerLinkActive="active">input</a></li>
            <li><a routerLink="/vocabulary-flashcard" routerLinkActive="active">flashcard</a></li>
            <li><a routerLink="/vocabulary-completion" routerLinkActive="active">completion</a></li>
            <li><a routerLink="/vocabulary-fill-in" routerLinkActive="active">fill-in</a></li>
            <li><a routerLink="/vocabulary-quiz" routerLinkActive="active">quiz</a></li>
            <li><a routerLink="/vocabulary-scramble" routerLinkActive="active">scramble</a></li>
            <li><a routerLink="/vocabulary-slider" routerLinkActive="active">slider</a></li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</nav>