<form class='row'>
    <fieldset class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
        <div class='col-lg-1 col-md-1 col-sm-1 col-xs-1'>
            <button id="accent1" value='á' (click)="accentClick($event)">á</button>
        </div>
        <div class='col-lg-1 col-md-1 col-sm-1 col-xs-1'>
            <button id="accent2" value='é' (click)="accentClick($event)">é</button>
        </div>
        <div class='col-lg-1 col-md-1 col-sm-1 col-xs-1'>
            <button id="accent3" value='í' (click)="accentClick($event)">í</button>
        </div>
        <div class='col-lg-1 col-md-1 col-sm-1 col-xs-1'>
            <button id="accent4" value='ñ' (click)="accentClick($event)">ñ</button>
        </div>
        <div class='col-lg-1 col-md-1 col-sm-1 col-xs-1'>
            <button id="accent5" value='ó' (click)="accentClick($event)">ó</button>
        </div>
        <div class='col-lg-1 col-md-1 col-sm-1 col-xs-1'>
            <button id="accent6" value='ú' (click)="accentClick($event)">ú</button>
        </div>
        <div class='col-lg-1 col-md-1 col-sm-1 col-xs-1'>
            <button id="accent7" value='ü' (click)="accentClick($event)">ü</button>
        </div>
    </fieldset>
</form>
