form {
    margin-top: 1.7rem;
}

fieldset {
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

fieldset div {
    display: inline-block;
    width: 100%;
    text-align: center;
}

div button {
    background: rgb(0, 123, 255);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 0.25rem;
    min-width: 1.5rem;
}