form {
    margin-top: 1.2rem;
}

fieldset {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

fieldset div {
    display: flex;
    flex-direction: row;
}

div button {
    background: rgb(0, 123, 255);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 0.25rem;
    min-width: 2.5rem;
    min-height: 2.5rem;
    margin: 0 10px;
}